In [19]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from tqdm import tqdm,trange
from time import sleep

In [20]:
def crawling_sites(url):
    response = requests.request('Get', url)
    soup = bs(response.content, 'html.parser')
    
    titles = soup.select('div.winning_number')
    
    num_title = []
    
    for one in titles:
        num_title.append(one.get_text())
    
    return num_title

In [21]:

ball_list = []

with tqdm(total =100) as pbar:
    for train in range(944,1032):
    
        html ='https://search.naver.com/search.naver?where=nexearch&sm=top_sly.hst&fbm=0&acr=1&acq=%EB%A1%9C&qdt=0&ie=utf8&query='+str(train)+'%ED%9A%8C+%EB%A1%9C%EB%98%90%EB%8B%B9%EC%B2%A8%EB%B2%88%ED%98%B8'
    
        ball_list.append(crawling_sites(html))
    
        train+=1

        sleep(0.1)
        pbar.update(1)

 88%|███████████████████████████████████████████████████████████████████████▎         | 88/100 [01:27<00:11,  1.01it/s]

In [22]:
for i, a in enumerate(ball_list):
    print(i,a)

0 [' 2 13 16 19 32 33 ']
1 [' 9 10 15 30 33 37 ']
2 [' 9 18 19 30 34 40 ']
3 [' 3 8 17 20 27 35 ']
4 [' 13 18 30 31 38 41 ']
5 [' 14 21 35 36 40 44 ']
6 [' 3 4 15 22 28 40 ']
7 [' 2 12 30 31 39 43 ']
8 [' 4 12 22 24 33 41 ']
9 [' 7 9 22 27 37 42 ']
10 [' 1 9 26 28 30 41 ']
11 [' 4 9 23 26 29 33 ']
12 [' 10 11 20 21 25 41 ']
13 [' 4 15 24 35 36 40 ']
14 [' 2 9 10 16 35 37 ']
15 [' 1 14 15 24 40 41 ']
16 [' 2 18 24 30 32 45 ']
17 [' 11 20 29 31 33 42 ']
18 [' 1 18 28 31 34 43 ']
19 [' 6 12 19 23 34 42 ']
20 [' 6 21 36 38 39 43 ']
21 [' 2 13 25 28 29 36 ']
22 [' 1 21 25 29 34 37 ']
23 [' 1 6 13 37 38 40 ']
24 [' 2 5 12 14 24 39 ']
25 [' 3 9 10 29 40 45 ']
26 [' 9 11 16 21 28 36 ']
27 [' 2 6 17 18 21 26 ']
28 [' 3 6 17 23 37 39 ']
29 [' 22 26 31 37 41 42 ']
30 [' 1 2 11 16 39 44 ']
31 [' 7 8 9 17 22 24 ']
32 [' 4 12 14 25 35 37 ']
33 [' 2 9 10 14 22 44 ']
34 [' 1 7 15 32 34 42 ']
35 [' 7 11 16 21 27 33 ']
36 [' 3 13 16 23 24 35 ']
37 [' 27 36 37 41 43 45 ']
38 [' 5 7 13 20 21 44 ']
39 [' 13 23 26 31 35 43 ']
40 [' 3 10 23 35 36 37 ']
41 [' 17 21 23 30 34 44 ']
42 [' 7 10 16 28 41 42 ']
43 [' 2 4 15 23 29 38 ']
44 [' 2 13 20 30 31 41 ']
45 [' 17 18 21 27 29 33 ']
46 [' 2 4 25 26 36 37 ']
47 [' 13 18 25 31 33 44 ']
48 [' 12 20 26 33 44 45 ']
49 [' 6 14 16 18 24 42 ']
50 [' 1 3 8 24 27 35 ']
51 [' 1 4 13 29 38 39 ']
52 [' 6 11 15 24 32 39 ']
53 [' 4 7 14 16 24 44 ']
54 [' 13 17 18 20 42 45 ']
55 [' 1 3 9 14 18 28 ']
56 [' 2 8 19 22 32 42 ']
57 [' 6 10 12 14 20 42 ']
58 [' 17 25 33 35 38 45 ']
59 [' 1 4 29 39 43 45 ']
60 [' 7 15 30 37 39 44 ']
61 [' 8 13 18 24 27 29 ']
62 [' 8 11 15 16 17 37 ']
63 [' 8 11 16 19 21 25 ']
64 [' 9 11 30 31 41 44 ']
65 [' 15 23 29 34 40 44 ']
66 [' 9 12 15 25 34 36 ']
67 [' 1 9 12 26 35 38 ']
68 [' 5 11 18 20 35 45 ']
69 [' 21 22 26 34 36 41 ']
70 [' 3 11 14 18 26 27 ']
71 [' 14 23 31 33 37 40 ']
72 [' 15 26 28 34 41 42 ']
73 [' 12 18 22 23 30 34 ']
74 [' 3 19 21 25 37 45 ']
75 [' 1 4 13 17 34 39 ']
76 [' 12 27 29 38 41 45 ']
77 [' 12 15 17 24 29 45 ']
78 [' 5 6 11 29 42 45 ']
79 [' 10 14 16 18 29 35 ']
80 [' 9 18 20 22 38 44 ']
81 [' 8 9 20 25 29 33 ']
82 [' 5 12 13 31 32 41 ']
83 [' 14 16 27 35 39 45 ']
84 [' 5 7 12 13 18 35 ']
85 [' 12 30 32 37 39 41 ']
86 [' 2 5 11 17 24 29 ']
87 [' 6 7 22 32 35 36 ']

In [23]:
play = pd.DataFrame(ball_list,
                   columns = ['number'])
play

                 number
0     2 13 16 19 32 33
1     9 10 15 30 33 37
2     9 18 19 30 34 40
3      3 8 17 20 27 35
4    13 18 30 31 38 41
..                  ...
83   14 16 27 35 39 45
84     5 7 12 13 18 35
85   12 30 32 37 39 41
86     2 5 11 17 24 29
87     6 7 22 32 35 36

[88 rows x 1 columns]

In [24]:
df2 = pd.DataFrame(play['number'].str.split(' ').tolist())
df2

   0    1   2   3   4   5   6 7
0       2  13  16  19  32  33
1       9  10  15  30  33  37
2       9  18  19  30  34  40
3       3   8  17  20  27  35
4      13  18  30  31  38  41
.. ..  ..  ..  ..  ..  ..  .. ..
83     14  16  27  35  39  45
84      5   7  12  13  18  35
85     12  30  32  37  39  41
86      2   5  11  17  24  29
87      6   7  22  32  35  36

[88 rows x 8 columns]

In [25]:
df3 =df2.drop(0,axis=1)
final = df3.drop(7,axis=1)
final

     1   2   3   4   5   6
0    2  13  16  19  32  33
1    9  10  15  30  33  37
2    9  18  19  30  34  40
3    3   8  17  20  27  35
4   13  18  30  31  38  41
..  ..  ..  ..  ..  ..  ..
83  14  16  27  35  39  45
84   5   7  12  13  18  35
85  12  30  32  37  39  41
86   2   5  11  17  24  29
87   6   7  22  32  35  36

[88 rows x 6 columns]

In [26]:
a_ = final[1].sort_values()
a = a_.value_counts(ascending = True)

b_ = final[2].sort_values()
b = b_.value_counts(ascending = True)

c_ = final[3].sort_values()
c = c_.value_counts(ascending = True)

d_ = final[4].sort_values()
d = d_.value_counts(ascending = True)

e_ = final[5].sort_values()
e = e_.value_counts(ascending = True)

f_ = final[6].sort_values()
f = f_.value_counts(ascending = True)

In [27]:
result = pd.concat([a,b,c,d,e,f],axis = 0)

final_result = result.sort_values()

In [28]:
real_final = pd.concat([a,b,c,d,e,f],axis = 1)

real_final

       1    2    3    4    5     6
21   1.0  4.0  2.0  3.0  3.0   NaN
11   1.0  9.0  3.0  NaN  NaN   NaN
22   1.0  1.0  4.0  3.0  2.0   NaN
27   1.0  1.0  1.0  2.0  4.0   1.0
10   2.0  4.0  3.0  NaN  NaN   NaN
15   2.0  3.0  8.0  NaN  NaN   NaN
14   3.0  3.0  3.0  4.0  NaN   NaN
17   3.0  1.0  4.0  3.0  1.0   NaN
13   4.0  5.0  5.0  1.0  NaN   NaN
8    4.0  3.0  1.0  NaN  NaN   NaN
12   5.0  6.0  4.0  NaN  NaN   NaN
7    5.0  5.0  NaN  NaN  NaN   NaN
4    5.0  6.0  NaN  NaN  NaN   NaN
5    5.0  2.0  NaN  NaN  NaN   NaN
6    6.0  4.0  NaN  NaN  NaN   NaN
9    6.0  8.0  2.0  NaN  NaN   NaN
3    8.0  2.0  NaN  NaN  NaN   NaN
2   13.0  1.0  NaN  NaN  NaN   NaN
1   13.0  NaN  NaN  NaN  NaN   NaN
25   NaN  1.0  4.0  4.0  1.0   1.0
19   NaN  1.0  3.0  2.0  NaN   NaN
16   NaN  1.0  8.0  4.0  NaN   NaN
30   NaN  1.0  4.0  5.0  2.0   NaN
36   NaN  1.0  1.0  1.0  4.0   4.0
26   NaN  2.0  4.0  3.0  1.0   1.0
20   NaN  2.0  4.0  4.0  1.0   NaN
23   NaN  3.0  3.0  5.0  NaN   NaN
18   NaN  8.0  3.0  4.0  2.0   NaN
37   NaN  NaN  1.0  4.0  4.0   7.0
35   NaN  NaN  1.0  4.0  6.0   5.0
33   NaN  NaN  1.0  2.0  4.0   5.0
32   NaN  NaN  1.0  2.0  5.0   NaN
24   NaN  NaN  2.0  6.0  5.0   1.0
31   NaN  NaN  2.0  8.0  1.0   NaN
28   NaN  NaN  2.0  3.0  2.0   1.0
29   NaN  NaN  4.0  4.0  7.0   2.0
39   NaN  NaN  NaN  1.0  6.0   5.0
41   NaN  NaN  NaN  1.0  5.0   9.0
38   NaN  NaN  NaN  2.0  5.0   2.0
34   NaN  NaN  NaN  3.0  8.0   1.0
44   NaN  NaN  NaN  NaN  1.0  11.0
42   NaN  NaN  NaN  NaN  2.0  10.0
43   NaN  NaN  NaN  NaN  2.0   4.0
40   NaN  NaN  NaN  NaN  4.0   5.0
45   NaN  NaN  NaN  NaN  NaN  13.0

In [29]:
Real_Final = real_final.fillna(value=0)



Real_Final['sum'] = Real_Final[1] +Real_Final[3] +Real_Final[3] +Real_Final[4] +Real_Final[5] +Real_Final[6] 

Real_Final

       1    2    3    4    5     6   sum
21   1.0  4.0  2.0  3.0  3.0   0.0  11.0
11   1.0  9.0  3.0  0.0  0.0   0.0   7.0
22   1.0  1.0  4.0  3.0  2.0   0.0  14.0
27   1.0  1.0  1.0  2.0  4.0   1.0  10.0
10   2.0  4.0  3.0  0.0  0.0   0.0   8.0
15   2.0  3.0  8.0  0.0  0.0   0.0  18.0
14   3.0  3.0  3.0  4.0  0.0   0.0  13.0
17   3.0  1.0  4.0  3.0  1.0   0.0  15.0
13   4.0  5.0  5.0  1.0  0.0   0.0  15.0
8    4.0  3.0  1.0  0.0  0.0   0.0   6.0
12   5.0  6.0  4.0  0.0  0.0   0.0  13.0
7    5.0  5.0  0.0  0.0  0.0   0.0   5.0
4    5.0  6.0  0.0  0.0  0.0   0.0   5.0
5    5.0  2.0  0.0  0.0  0.0   0.0   5.0
6    6.0  4.0  0.0  0.0  0.0   0.0   6.0
9    6.0  8.0  2.0  0.0  0.0   0.0  10.0
3    8.0  2.0  0.0  0.0  0.0   0.0   8.0
2   13.0  1.0  0.0  0.0  0.0   0.0  13.0
1   13.0  0.0  0.0  0.0  0.0   0.0  13.0
25   0.0  1.0  4.0  4.0  1.0   1.0  14.0
19   0.0  1.0  3.0  2.0  0.0   0.0   8.0
16   0.0  1.0  8.0  4.0  0.0   0.0  20.0
30   0.0  1.0  4.0  5.0  2.0   0.0  15.0
36   0.0  1.0  1.0  1.0  4.0   4.0  11.0
26   0.0  2.0  4.0  3.0  1.0   1.0  13.0
20   0.0  2.0  4.0  4.0  1.0   0.0  13.0
23   0.0  3.0  3.0  5.0  0.0   0.0  11.0
18   0.0  8.0  3.0  4.0  2.0   0.0  12.0
37   0.0  0.0  1.0  4.0  4.0   7.0  17.0
35   0.0  0.0  1.0  4.0  6.0   5.0  17.0
33   0.0  0.0  1.0  2.0  4.0   5.0  13.0
32   0.0  0.0  1.0  2.0  5.0   0.0   9.0
24   0.0  0.0  2.0  6.0  5.0   1.0  16.0
31   0.0  0.0  2.0  8.0  1.0   0.0  13.0
28   0.0  0.0  2.0  3.0  2.0   1.0  10.0
29   0.0  0.0  4.0  4.0  7.0   2.0  21.0
39   0.0  0.0  0.0  1.0  6.0   5.0  12.0
41   0.0  0.0  0.0  1.0  5.0   9.0  15.0
38   0.0  0.0  0.0  2.0  5.0   2.0   9.0
34   0.0  0.0  0.0  3.0  8.0   1.0  12.0
44   0.0  0.0  0.0  0.0  1.0  11.0  12.0
42   0.0  0.0  0.0  0.0  2.0  10.0  12.0
43   0.0  0.0  0.0  0.0  2.0   4.0   6.0
40   0.0  0.0  0.0  0.0  4.0   5.0   9.0
45   0.0  0.0  0.0  0.0  0.0  13.0  13.0

In [30]:
Real_Final['sum'].sort_values()

4      5.0
5      5.0
7      5.0
43     6.0
6      6.0
8      6.0
11     7.0
3      8.0
10     8.0
19     8.0
40     9.0
32     9.0
38     9.0
9     10.0
28    10.0
27    10.0
36    11.0
21    11.0
23    11.0
39    12.0
34    12.0
44    12.0
42    12.0
18    12.0
31    13.0
33    13.0
45    13.0
26    13.0
14    13.0
1     13.0
2     13.0
20    13.0
12    13.0
22    14.0
25    14.0
17    15.0
13    15.0
30    15.0
41    15.0
24    16.0
35    17.0
37    17.0
15    18.0
16    20.0
29    21.0
Name: sum, dtype: float64